html {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-size: 16px;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    
}


.prueba{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-repeat: no-repeat;
  object-fit: contain;
  transition: all 3ms;
  transform: scale(1.1);
}

h5:first-child{
  
}